body {
  background-color: #7945ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-radius: 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 505px;
}

.cell {
  margin: 5px;
  height: 63px;
  width: 65px;

  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.cellRed {
  background-color: red;
  animation: drop 0.5s ease-in;
}

.headerRow {
  display: flex;

  flex-direction: row;
  width: 505px;
  justify-content: space-between;
  align-items: center;
  background-color: lightgoldenrodyellow;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.cellYellow {
  background-color: yellow;
  animation: drop 0.5s ease-in;
}

.restartButton {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 200px;
  height: 80px;
  border-radius: 8px;
  background-color: #5d2cd3;
  color: aliceblue;
  border: none;
}

.pseudotable {
  color: aquamarine;
  position: absolute;
  top: 12px;
  width: 700px;
  top: 60px;
  height: 465px;
  padding: 0px;
  margin: 0px;
  z-index: 11;
  filter: invert(70%) sepia(10%) saturate(1352%) hue-rotate(87deg);
}

.pseudocell {
  margin: 8px;
  height: 60px;
  width: 60px;
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}

@keyframes drop {
  0% {
    /*opacity: 0;*/
    transform: translateY(-420px);
  }

  100% {
    transform: translateY(0px);
  }
}

.headcell {
  margin: 5px;
  height: 63px;
  width: 65px;
  background-color: lightgoldenrodyellow;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.headcell:hover {
  background-color: rgb(215, 14, 195);
}

.playerone {
  position: absolute;
  top: 300px;
  left: 30px;
  width: 200px;
  height: 200px;
  border: 2px solid red;
  background-color: #eaecf1cd;
}

.playertwo {
  position: absolute;
  top: 300px;
  right: 30px;
  width: 200px;
  height: 200px;
  border: 2px solid red;
  background-color: #eaecf1cd;
}
